.square {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100px;
    width: 100px;
    color: white;
    padding: 5px;
}

.blocked {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100px;
    width: 100px;
    color: white;
    padding: 5px;
    background-color: black;
}

.item {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin: 0px;
    flex-grow: 1;
    border: 1px solid white
}

.item-complete {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin: 0px;
    flex-grow: 1;
    border: 1px solid;
    background-color: green;
}
