#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.inner {
  display: flex;
  flex-direction: column;
}

.topRow {
  display: flex;
}

.topItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 5px;
}

.firstColumn {
  display: flex;
  flex-direction: column;
}

.columnItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
}

.mt2Icon {
  height: 50px;
  width: 50px;
  padding: 0px;
}

.mt2IconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding-right: 100px;
}

.randomizeButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  min-width: 1320px;
  flex-direction: column;
}
